[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

.vs/
.idea/
.vscode/

*.csproj
*.sln
*.user
*.suo

.DS_Store
Thumbs.db

Assets/ThirdParty/Unity/
Assets/ThirdParty/Unity.meta

Assets/Features/Ingredients/Art/
Assets/Features/Ingredients/Art.meta
